<section>
  <h2>Island Battle</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident inventore rem veritatis, iure, iste, maxime tempora qui cumque, numquam voluptatum vel quisquam commodi nam omnis assumenda praesentium cupiditate! Aliquam, atque.</p>
</section>

<section>
  <h2>Art Competition</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, deleniti adipisci necessitatibus dicta placeat! Ullam pariatur eius, distinctio cumque vel quaerat illo! Ducimus aut numquam deserunt laudantium repellat eius soluta.</p>
</section>