header {
  border: 3px solid black;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
}

ul {
  margin: 10px auto;
  text-align: center;
  padding: 0;
}

li {
  display: inline-block;
  padding: 2px;
  border: 2px solid black;
  font-size: 1.8em;
}

footer {
  margin: 0 auto;
  text-align: center;
}