<section>
  <h2>Next Event</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos accusamus nulla voluptate accusantium hic laudantium reiciendis ratione iure, dolores officia exercitationem, aliquam, asperiores est tempora quibusdam unde soluta, atque quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam blanditiis voluptates repellat nostrum culpa odio sunt, nesciunt quidem soluta recusandae earum hic. Commodi aut ipsum, voluptatibus atque expedita quas in!</p>
</section>